<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <!-- Temporary hack, remove the relative_url filter from line below -->
  <link rel="stylesheet" href="{{ '/assets/css/just-the-docs-default.css'  }}">

  {% if site.ga_tracking != nil %}
    {% assign ga_tracking_ids = site.ga_tracking | split: "," %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ ga_tracking_ids.first }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      {% for ga_property in ga_tracking_ids %}
        gtag('config', '{{ ga_property }}'{% unless site.ga_tracking_anonymize_ip == nil %}, { 'anonymize_ip': true }{% endunless %});
      {% endfor %}
    </script>
  {% endif %}

  {% if site.search_enabled != false %}
  <!-- Temporary hack, remove the relative_url filter from line below -->
    <script src="{{ '/assets/js/vendor/lunr.min.js'  }}"></script>
  {% endif %}

  <!-- Temporary hack, remove the relative_url filter from line below -->
  <script src="{{ '/assets/js/just-the-docs.js' }}"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% for file in site.static_files %}
    {% if file.path == site.favicon_ico or file.path == '/favicon.ico' %}
      {% assign favicon = true %}
    {% endif %}
  {% endfor %}
  {% if favicon %}
  <!-- Temporary hack, remove the relative_url filter from line below -->
    <link rel="icon" href="{{ site.favicon_ico | default: '/favicon.ico' }}" type="image/x-icon">
  {% endif %}

  {% seo %}

  {% include head_custom.html %}

</head>
